.nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  max-width: 100%;
  border-bottom: solid black 1px ;
  padding: 0 24px;
  font-family: 'Inter';
}
.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo-container{
  width: 150px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  padding-right: 10px;
  border-right: solid black 1px;
  text-decoration: none;
}
.landing-logo {
  text-decoration: none;
}

#landing-logo img {
  height: 25px;
}

#github-logo{
  width: 35px;
  height: 35px;
}

.github{
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: black;
}

.github-developer {
  display: flex;
  width: 300px;
  height: 40px;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: black;
}
.github-text{
  text-decoration: none;
  color: black;
}

.github-links{
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding-left: 20px;
}

.right-nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 216px;
  max-height: 100%;
  height: 100%;
  font-size: 13px;
  font-weight: 700;
}

.login{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 102px;
  height: 44px;
  border: solid black 1px;
  border-radius: 50px;
  cursor: pointer;
  text-decoration: none;
}

.signup{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 102px;
  height: 44px;
  border: solid black 1px;
  border-radius: 50px;
  background-color: black;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.search-input{
  height: 20px;
  border: solid #e3e9ed 1px;
  width: 207px;
}

.search-button{
  background-color: rgba(255, 165, 0, 1);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 10px;
  cursor: pointer;
}

.search-container{
  position: absolute;
  top: 8px;
  right: 45%;
  display: flex;
  margin-top: 13px;
  margin-left: 20px;
}

.left-container{
  display: flex;
  align-items: center;
  height: 100%;
  width: 800px;
}

.search-results{
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
  padding: 8px;
  margin-top: 35px;
  z-index: 1000;
}
