.detailsgraph {
  display: flex;
  width: 1000px;
  height: 600px;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
}

.company-details {
  display: flex;
  padding-right: 200px;
  padding-left: 200px;
  padding-top: 20px;
}

.company-statistics {
  flex: 0.5;
  background-color: #f2f2f2;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.company-about {
  flex: 0.5;
  background-color: #f2f2f2;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.companyStatsTable {
  height: 400px;
}

.companyInteractionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.add-to-watchlist {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 70px;
}

.companyWatchlistSelect {
  height: 30px;
  border: 2px solid black;
  border-radius: 6px;
}

.companyAddToWatchlist {
  background-color: rgb(255, 166, 0);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.companyModalButtonContainer {
  display: flex;
  width: 300px;
  justify-content: space-between;
}

.companyBuySellModal {
  width: 140px;
  height: 30px;
  background-color: rgb(255, 166, 0);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.companyBuySellModal:hover,
.companyAddToWatchlist:hover {
  background-color: rgb(255, 85, 0);
}

.companyAddToWatchlist:hover {
  cursor: pointer;
}

.companyBuySellModal:hover {
  cursor: pointer;
}

@media (max-width: 1280px) {
  .company-details {
    flex-direction: column;
    align-items: center;
  }

  .detailsgraph {
    order: -1;
    width: 100%;
    max-width: 1000px;
    height: auto;
    margin: 0 auto;
  }

  .company-statistics,
  .company-about {
    width: calc(100% - 40px);
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }

}


.timeoptions {
  display: flex;
  width: calc(25%);
  justify-content: space-around;
}
