.portfolio-container {
  display: flex;
  padding-right: 200px;
  padding-left: 200px;
  margin-bottom: 50px;
}

.chart-container {
  flex: 1;
}

.detailsgraph {
  width: 1000px;
  height: 600px;
  position: relative;
  padding-left: 30px;
}

.info-container,
.stocks-and-funds-container {
  flex: 0.2;
  background-color: #f2f2f2;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.delete-watchlist-btn,
.add-funds-btn,
.withdraw-funds-btn,
.create-watchlist-btn {
  background-color: rgb(255, 166, 0);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-watchlist-btn:hover,
.add-funds-btn:hover,
.withdraw-funds-btn:hover,
.create-watchlist-btn:hover {
  background-color: rgb(255, 85, 0);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 15px;
}

.new-watchlist-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.new-watchlist-input {
  flex: none;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 280px;
  margin-bottom: 10px;
}

.create-watchlist-btn {
  background-color: rgba(255, 165, 0, 1);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 0;
  cursor: pointer;
}

@media (max-width: 1280px) {
  .portfolio-container {
    flex-direction: column;
    align-items: center;
  }

  .chart-container {
    order: -1;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
  }

  .detailsgraph {
    width: 100%;
    max-width: 1000px;
    height: auto;
    margin: 0 auto;
  }

  .stocks-and-funds-container,
  .info-container {
    width: calc(100% - 40px);
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
}
