.companyBuyFormModalContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}

.buyFormModalSubmitContainer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.buyFormModalForm {
    width: 600px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.companyBuySubmitButton {
    background-color: rgba(255, 165, 0, 1);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 0;
    cursor: pointer;
  }

  .companyBuySubmitButton:disabled {
    color: lightsalmon;
    cursor: auto;
  }

  .buyCountInputField {
    margin-left: 5px;
  }
